{% extends "::base.html.twig" %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>Welcome to the Project:view page</h1>

    <h2> {{ project.name }}</h2>
     {#добавить проверку наличия#}
    <img src="{{ project.picture }}" alt="">
    <p> {{ project.description }}</p>
    <p> {{ project.aboutText }}</p>
    <p>Начат <i> {{ project.startAt.format("Y-m-d") }}</i></p>
    <p>
        {% if project.isClosed %}
            Проект зактыт
        {% else %}
            Приоритет: {{ project.priority }}
        {% endif %}
    </p>
    <p>
        {% if project.likesCount == null %}
            <a href="{{ path('project-add-like', {'project': project.id }) }}">Like?</a>
        {% else %}
            <a href="{{ path('project-add-like', {'project': project.id }) }}">Like {{ project.likesCount }}</a>
        {% endif %}
    </p>
    <p>
        Имеется {{ likes | length }} лайков
    </p>

    {% if project.likesCount %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>ip</th>
            <th>дата лайка</th>
        </tr>
        </thead>
        <tbody>
        {%  for like in likes  %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ like.ip }}</td>
                <td>{{ like.addAt.format("Y-m-d H:i") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Лайков пока нет</p>
    {%  endif %}

    <a class="btn btn-xs btn-primary" href="{{ path('project-edit', {project:project.id}) }}">Правка</a>
    <a class="btn btn-xs btn-danger" href="{{ path('project-delete', {project:project.id}) }}">Удалить</a>
    <a class="btn btn-xs btn-info" href="{{ path('project-list') }}">К списку</a>
{% endblock %}
